<div class="box has-text-centered">
    <div class="box">
      <div class="card-image">
        <figure class="image is-4by3">
        {% if instance.image %}
            <a href="{{ instance.get_absolute_url }}"><img class="card-img-top" src="{{ instance.image.url }}"
                                                           alt="{{ instance.name }} logo"></a>
        {% endif %}
        </figure>
      </div>
    </div>

    <h5 class="title is-5">{{ instance.name }}</h5>

    <a href="{{ instance.get_absolute_url }}" class="button is-danger">Bateu a fome!</a>
</div>