<div class="box has-text-centered">

    <div class="box">
        <figure class="image is-4by3">
        {% if instance.image %}
            <a href="{{ instance.get_absolute_url }}">
                <img class="card-img-top" src="{{ instance.image.url }}" alt="{{ instance.name }} logo">
            </a>
        {% endif %}
        </figure>
      </div>

    <span class="tag is-success" style="position: absolute; margin-top: -35px; margin-left: -28px;">
        R$ {{ instance.price }}
    </span>

    <h6 class="title is-6">
        <a href="{{ instance.get_absolute_url }}">{{ instance.name }}</a>
    </h6>

    <a href="{{ instance.get_absolute_url }}" class="button is-danger">Bateu a fome!</a>
</div>