<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>PedeRango</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
      <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
      <script src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
   </head>
   <body>
      {% if request.user.is_authenticated %}
      <section class="hero is-danger is-large">
         <!-- NAVBAR - BEGIN -->
         <div class="hero-head">
            <nav class="navbar">
               <div class="container">
                  <div class="navbar-brand">
                     <a href="index.html" class="navbar-item">
                     <span class="icon is-large">
                     <i class="fas fa-utensils"></i>
                     </span>
                     </a>
                     <span class="navbar-burger burger" data-target="navbarMenuHeroB">
                     <span></span>
                     <span></span>
                     <span></span>
                     </span>
                  </div>
                  <div id="navbarMenuHeroB" class="navbar-menu">
                     <div class="navbar-start">
                        <a href="index.html" class="navbar-item is-active">
                        Vendas
                        </a>
                        <a href="cadastrar-produtos.html" class="navbar-item">
                        Produtos
                        </a>
                        <a href="cadastrar-usuarios.html" class="navbar-item">
                        Usuarios
                        </a>
                        <a href="cadastrar-usuarios.html" class="navbar-item">
                        Fale Conosco
                        </a>
                     </div>
                  </div>
               </div>
            </nav>
         </div>
         <!-- NAVBAR - END -->
      </section>
      <div class="tabs is-medium">
         <ul>
            <li class="is-active"><a href="index.html">Nova pedido</a></li>
            <li><a href="consultar-vendas.html">Pedidos realizados</a></li>
         </ul>
      </div>
      <!-- CONTENT - BEGIN -->
      <div class="container" style="width: 50%">
         {{ premium_content }}
         <div class="columns">
            <div class="column is-full">
               <form>
                  <div class="box">
                     <div class="field">
                        <label class="label">Usuário</label>
                        <div class="control has-icons-left has-icons-right">
                           <input class="input" type="text" placeholder="Digite o ID do usuário" required>
                           <span class="icon is-small is-left">
                           <i class="fas fa-user"></i>
                           </span>
                        </div>
                     </div>
                     <div class="field is-grouped">
                        <div class="control is-expanded">
                           <label class="label">Produto</label>
                           <div class="control has-icons-left">
                              <div class="select">
                                 <select style="width: 440px">
                                    <option>Produto 1</option>
                                    <option>Produto 2</option>
                                    <option>Produto 3</option>
                                 </select>
                              </div>
                              <span class="icon is-left">
                              <i class="fas fa-cart-arrow-down"></i>
                              </span>
                           </div>
                        </div>
                        <div class="control">
                           <label class="label">Quantidade</label>
                           <div class="control has-icons-left has-icons-right">
                              <input class="input" style="width: 180px;" type="number" min="0" placeholder="Quantidade" required>
                              <span class="icon is-small is-left">
                              <i class="fas fa-infinity"></i>
                              </span>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="field is-grouped is-grouped-right">
                     <div class="control">
                        <button class="button" type="reset">Limpar</button>
                     </div>
                     <div class="control">
                        <button class="button is-danger">Realizar pedido</button>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
      <!-- CONTENT - END -->
      {% else %}
      <style type="text/css">
         body {
         background: #ff3860;
         }
         .centerall {
         height: 100vh;
         padding: 0;
         display: flex;
         flex-wrap: nowrap;
         justify-content: center;
         align-items: center;
         }
         .progress::-webkit-progress-value {
         transition: width 0.5s ease;
         }
      </style>
      <div class="container">
         <div class="centerall">
            <div class="box">
               <p>Você será redirecionado...</p>
               <progress id="progress-bar" class="progress is-success is-large" value="0" max="100"></progress>
            </div>
         </div>
      </div>
      <script>
         var progressArr = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100];

           function fillProgress() {
             progressArr.forEach(function(num, index) {
               setTimeout(function() {
                 $('#progress-bar').val(num);
               }, 300 * index);
             });
           }

           fillProgress();

            function redirect(){
             window.location.href = "login";
            }

         setTimeout(redirect, 3000);
      </script>
      {% endif %}
   </body>
</html>