{% extends "base.html" %}

{% block content %}
    <section class="section">
        <div class="box">
            <article class="media">
                <div class="media-left">
                    <figure class="image is-50x50">
                        <img src="http://openweathermap.org/img/w/{{ clima.icone }}.png" alt="Image">
                    </figure>
                </div>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <span class="title">{{ clima.cidade }}</span>
                            <br>
                            <span class="subtitle">{{ clima.temperatura }}° C</span>
                            <br> {{ clima.descricao }}
                        </p>
                    </div>
                </div>
            </article>
        </div>
    </section>
{% endblock %}