{% extends "base.html" %}

<!-- CONTENT - BEGIN -->
{% block content %}
<div class="box">
    {% if carrinho.produtos.exists %}
    <table class="table" style="width: 100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Nome do Produto</th>
                <th>Preço</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for produto in carrinho.produtos.all %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td><a href="{{ produto.get_absolute_url }}">{{ produto.name }}</a></td>
                <td>R$ {{ produto.price }}</td>
                <td>{% include 'produtos/snippets/atualizar-carrinho.html' with produto=produto carrinho=carrinho no_carrinho=True %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


    {% else %}
    <p class="lead">Carrinho vazio!</p>
    {% endif %}
</div>

{% if carrinho.produtos.exists %}
    <div class="tile is-ancestor">
        <div class="tile is-vertical is-7">
            <div class="tile">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child notification is-warning">
                        <p>Sub-total:</p>
                        <p class="subtitle">R$ {{ carrinho.subtotal }}</p>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child notification is-link">
                        <p>Total</p>
                        <p class="subtitle">R$ {{ carrinho.total }}</p>
                    </article>
                </div>
            </div>
        </div>

        <a href="{% url "carrinho:checkout" %}" class="button is-success" style="margin-left:120px;margin-top: 35px">Finalizar pedido</a>

    </div>

{% endif %}

{% endblock %}

<a href="{% url 'carrinho:home' %}" class="botao-flutuante">
    <i class="fa fa-shopping-cart btn-carrinho"></i> {{ request.session.total_itens }}
</a>