{% extends "base.html" %} {% block content %} {{ premium_content }}

<article class="message is-danger">
    <div class="message-header">
        <p>{{ object.name }}</p>
    </div>
    <div class="message-body">
        <div class="columns">
            <div class="column is-one-third">
                <div class="box has-text-centered">
                    {% if object.image %}
                    <img src='{{ object.image.url }}' class="img-fluid" style="width: 200px;height: 200px" /> {% endif %}
                    <br/>
                    <span class="tag is-success is-large">
            R$ {{ object.price }}
          </span>
                </div>
            </div>
            <div class="column">
                {{ object.description }}

                <br/>
                <br/> {% include 'produtos/snippets/atualizar-carrinho.html' with produto=object carrinho=carrinho %}
            </div>
        </div>

        <div style="clear: both;"></div>
    </div>
</article>

{% if user.is_superuser %}
<div style="float: right;">
    <a class="button is-small is-warning" href="http://127.0.0.1:8000/admin/produtos/produto/{{ object.id }}/change/">
        <span class="icon">
              <i class="fas is-small fa-edit"></i>
          </span>
        <span>Editar</span>
    </a>

    <a class="button is-small is-danger" href="http://127.0.0.1:8000/admin/produtos/produto/{{ object.id }}/delete/">
        <span class="icon">
              <i class="fas is-small fa-trash"></i>
          </span>
        <span>Excluir</span>
    </a>
</div>
{% endif %}

<a href="{% url 'carrinho:home' %}" class="botao-flutuante">
    <i class="fa fa-shopping-cart btn-carrinho"></i> {{ request.session.total_itens }}
</a>
{% endblock %}