<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>PedeRango</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
      <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
   </head>
   <body>
      <section class="hero is-danger is-large">
         <!-- NAVBAR - BEGIN -->
         <div class="hero-head">
            <nav class="navbar">
               <div class="container" style="height: px">
                  <div class="navbar-brand">
                     <a href="{% url 'home' %}" class="navbar-item">
                     <span class="icon is-large">
                     <i class="fas fa-utensils"></i>
                     </span>
                     </a>
                     <span class="navbar-burger burger" data-target="navbarMenuHeroB"></span>
                  </div>
                  <div id="navbarMenuHeroB" class="navbar-menu">
                     <div class="navbar-start">
                        {% if user.is_superuser %}
                        <a href="{% url 'home' %}" class="navbar-item">
                        Pedidos
                        </a>
                        {% endif %}
                        <a href="{% url 'produtos:lista' %}" class="navbar-item is-active">
                        Produtos
                        </a>
                        <a href="{% url 'contact' %}" class="navbar-item">
                        Fale Conosco
                        </a>
                         <a href="{% url 'about' %}" class="navbar-item">
                        Sobre
                        </a>
                     </div>

                      <div class="navbar-end">
                        <span class="navbar-item">
                            <span class="tag is-white">Olá {{ user.get_username }}</span>
                            <span class="tag is-black" style="margin-left: 10px;">
                                <a href="{% url 'logout' %}"><span>Sair</span>
                                    <span class="icon">
                                        <i class="fas is-small fa-sign-out-alt"></i>
                                    </span>
                                </a>
                            </span>
                        </span>
                    </div>
                  </div>
               </div>
            </nav>
         </div>
         <!-- NAVBAR - END -->
      </section>

      <br/>

      <!-- CONTENT - BEGIN -->
      {% block content %}
          <div class='container' style="width: 60%">

          {% if user.is_superuser %}
              <div style="float: right;">
                  <button class="button is-link is-small">
                      <span class="icon is-small">
                          <i class="fas fa-plus"></i>
                      </span>
                      <span>Novo produto</span>
                  </button>

                  <button class="button is-success is-small" name="btnExportJson">
                      <span class="icon is-small">
                          <i class="fas fa-file-export"></i>
                      </span>
                      <span>Exportar</span>
                  </button>
              </div>
          {% endif %}

          <br/>

              {{ premium_content }}
              <div class="columns" style="margin-top: 10px">
                  {% for obj in object_list %}
                      <div class="column">
                          {% include 'produtos/snippets/card.html' with instance=obj %}
                      </div>
                  {% endfor %}
              </div>
          </div>
      {% endblock %}
      <!-- CONTENT - END -->
   </body>
</html>