{% extends "base.html" %}

{% block content %}

    {% if user.is_superuser %}
    <div style="float: right;">
        <a class="button is-link is-small" href="http://127.0.0.1:8000/admin/produtos/produto/add/">
            <span class="icon is-small">
                      <i class="fas fa-plus"></i>
                  </span>
            <span>Novo produto</span>
        </a>

        <a class="button is-success is-small" href="{% url 'produtos:export_produtos' %}">
            <span class="icon is-small">
                      <i class="fas fa-file-export"></i>
                  </span>
            <span>Exportar</span>
        </a>
    </div>
    {% endif %}

    <form method="GET" action="{% url "pesquisa:query" %}">
        <div class="field has-addons">
            <div class="control">
                <input class="input" type="text" placeholder="Buscar produto" name="q">
            </div>
            <div class="control">
                <button type="submit" class="button is-danger">
                    Buscar
                </button>
            </div>
        </div>
    </form>

    {{ premium_content }}

    <div class="columns" style="margin-top: 10px">
        {% for obj in object_list %}
        <div class="column is-one-third">
            {% include 'produtos/snippets/card.html' with instance=obj %}
        </div>
        {% endfor %}
    </div>

    <a href="{% url 'carrinho:home' %}" class="botao-flutuante">
        <i class="fa fa-shopping-cart btn-carrinho"></i> {{ request.session.total_itens }}
    </a>

{% endblock %}
