<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PedeRango</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <style>
        .botao-flutuante {
            position: fixed;
            width: 60px;
            height: 60px;
            bottom: 40px;
            right: 40px;
            background-color: #ff3860;
            color: #FFF;
            border-radius: 50px;
            text-align: center;
            box-shadow: 2px 2px 3px #999;
        }

        .btn-carrinho {
            margin-top: 22px;
        }
    </style>
</head>

<body>
    <section class="hero is-danger is-large">
        <!-- NAVBAR - BEGIN -->
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a href="{% url 'home' %}" class="navbar-item">
                            <span class="icon is-large">
                     <i class="fas fa-utensils"></i>
                     </span>
                        </a>
                        <span class="navbar-burger burger" data-target="navbarMenuHeroB"></span>
                    </div>
                    <div id="navbarMenuHeroB" class="navbar-menu">
                        <div class="navbar-start">
                            {% if user.is_superuser %}
                            <a href="{% url 'home' %}" class="navbar-item">
                        Pedidos
                        </a> {% endif %}
                            <a href="{% url 'produtos:lista' %}" class="navbar-item is-active">
                        Produtos
                        </a>
                            <a href="{% url 'contact' %}" class="navbar-item">
                        Fale Conosco
                        </a>
                            <a href="{% url 'about' %}" class="navbar-item">
                        Sobre
                        </a>
                        </div>

                        <div class="navbar-end">
                            <span class="navbar-item">
                            <span class="tag is-white">Olá {{ user.get_username }}</span>
                            <span class="tag is-black" style="margin-left: 10px;">
                                <a href="{% url 'logout' %}"><span>Sair</span>
                            <span class="icon">
                                        <i class="fas is-small fa-sign-out-alt"></i>
                                    </span>
                            </a>
                            </span>
                            </span>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <!-- NAVBAR - END -->
    </section>

    <br/>

    <!-- CONTENT - BEGIN -->
    {% block content %}
    <div class='container' style="width: 60%">

        {% if user.is_superuser %}
        <div style="float: right;">
            <a class="button is-link is-small" href="http://127.0.0.1:8000/admin/produtos/produto/add/">
                <span class="icon is-small">
                          <i class="fas fa-plus"></i>
                      </span>
                <span>Novo produto</span>
            </a>

            <button class="button is-success is-small" name="btnExportJson">
                <span class="icon is-small">
                          <i class="fas fa-file-export"></i>
                      </span>
                <span>Exportar</span>
            </button>
        </div>
        {% endif %}

        <form method="GET" action="{% url "pesquisa:query" %}">
            <div class="field has-addons">
                <div class="control">
                    <input class="input" type="text" placeholder="Buscar produto" name="q">
                </div>
                <div class="control">
                    <button type="submit" class="button is-danger">
                        Buscar
                    </button>
                </div>
            </div>
        </form>

        {{ premium_content }}

        <div class="columns" style="margin-top: 10px">
            {% for obj in object_list %}
            <div class="column is-one-third">
                {% include 'produtos/snippets/card.html' with instance=obj %}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endblock %}
    <!-- CONTENT - END -->

    <a href="{% url 'carrinho:home' %}" class="botao-flutuante">
        <i class="fa fa-shopping-cart btn-carrinho"></i> {{ request.session.total_itens }}
    </a>
</body>

</html>